# .NET
bin/
obj/
*.user
*.suo
.vs/
*.pidb
*.svclog

# Node
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
TestResults/
coverage/
